.navbar {
position: absolute;
width: 1600px;
height: 150px;
left: 0px;
top: 0px;
background: #7DCFFF; 
border: 1px solid #7DCFFF;
}


h1{
position: absolute;
width: 403px;
height: 66px;
left: 120px;
top: 40px;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 33px;
/* or 110% */

display: flex;
align-items: flex-end;

color: #FFFFFF;
}
.btn{
position: absolute;
width: 100px;
height: 25px;
left: 0px;
top: -65px;
}

h6{
position: absolute;
width: 100px;
height: 21px;
left: 0px;
top: 0px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
/* identical to box height, or 131% */


color: #373A3C;
}

.card{
position: absolute;
width: 1050px;
left: 250px;
background: rgba(125, 207, 255, 0.33);
border: 1px solid #999999;
border-radius: 4px;
}

.card-img{
position: absolute;
width: 1000px;
height: 500px;
left: 24px;
top: 25px;
}

h3{
position: absolute;
width: 1000px;
height: 438px;
left: 23px;
top: 530px;

font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
text-align: justify;
color: #373A3C;
}

h2{
position: absolute;
width: 1000px;
height: 438px;
left: 23px;
top: 560px;

font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
text-align: justify;
color: #373A3C;
}
.btn1{
position: absolute;
width: 100px;
height: 38px;
left: 1190px;
top: 100px;
}

input{
position: absolute;
width: 100px;
height: 25px;
left: 990px;
top: 100px;
}

.yes {
background: rgb(200, 200, 200);
}